<!-- <header class="d-flex justify-content-between"> -->
<header>

    <a href="#" class="my-auto companyLink">
        <div class="companyLogoContainer">
            <div class="wholeSuitcase">
                <div class="handle1">
                    <div class="handle2"></div>
                </div>
                <div class="suitCase">
                    <p class="mb-0 title1 companyName istok">green</p>
                </div>
            </div>
            <p class="my-0 title2 companyName istok">travel</p>
        </div>
    </a>

    <nav class="d-flex my-auto ms-auto me-5">
        <a class="ms-5 text-decoration-none navLink navLinkGrowUp roboto" routerLink="/">home</a>
        <a class="ms-5 text-decoration-none navLink navLinkGrowUp roboto" routerLink="blog">blog</a>
        <a class="ms-5 me-5 text-decoration-none navLink navLinkGrowUp roboto" routerLink="travels">offers</a>
    </nav>

    <a class="cartContainer" routerLink="cart">
        <p class="itemsNumber roboto">{{cartItems}}</p>
        <div class="imgContainer">
            <img src="../../assets/img/iconOpenShoppingCartFree.png" alt="cart icon">
        </div>
    </a>

</header>